.mainSobre{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin: 100px;
}
.mainSobre h1{
    display: flex;
    width: 940px;
}
.descricao{
    display: flex;
    width: 940px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
}
