@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Quicksand', sans-serif; */
}
.mainLogin{
    display: flex;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;
}
.fd-center{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    width: 280px;
    border: 2px black solid;
    background-color: #75e486;
}
.fd-center p{
    font-size: 24px;
    font-weight: bold;
}
.lb-center{
    font-size: 18px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 450;
}
.in-center{
    font-size: 14px;
    width: 200px;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px black solid;
    background-color: #8ff19e;
}
.in-center:focus{
    box-shadow: 2px 2px 3px black;
}
#bt-entrar{
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    border: 2px black solid;
    background-color: #10dc2e;
}
