/* MAIN ---------------------- */

.mainEquipes{
    display: flex;
    justify-content: center;
    margin: 100px;
    flex-wrap: wrap;
}
.equipes{
    border: 2px #0d0d0d solid;
    font-weight: bolder;
    justify-content: center;
    padding: 80px 60px;
    border-radius: 90px;
    background: #15bf2f;
    margin: 20px;
}
.equipes:hover{
    color: #18d935;
    background-color: #0d0d0d;
    border: 2px #2da63f solid;
    cursor: pointer;

}
/* MAIN ---------------------- */

.divErro{
    padding: 20px;
    margin: 20px;
    background-color: #e2838b;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: center;
}
.divAcerto{
    padding: 20px;
    margin: 20px;
    background-color: rgb(134, 229, 134);
    border: 1px solid rgb(65, 222, 65);
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    color: black;
    text-align: center;
}
.divLogoff{
    padding: 20px;
    margin: 20px;
    background-color: rgb(134, 229, 134);
    border: 1px solid rgb(65, 222, 65);
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    color: black;
    text-align: center;
}