/* MAIN ---------------------- */

.mainEquipes{
    display: flex;
    justify-content: center;
    margin: 100px;
    flex-wrap: wrap;
}
.equipes{
    border: 2px #0d0d0d solid;
    font-weight: bolder;
    justify-content: center;
    padding: 80px 60px;
    border-radius: 90px;
    background: #15bf2f;
    margin: 20px;
}
.equipes:hover{
    color: #18d935;
    background-color: #0d0d0d;
    border: 2px #2da63f solid;
    cursor: pointer;

}
/* MAIN ---------------------- */
.divErro{
    padding: 15px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: red;
}
